# The Database for End-Users / Application File Format
*.impulse

# Rust
target/

# SQLite Database Files
*.db
*.db3
*.sqlite
*.sqlite3

# JetBrains IDEs
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# Other
.attach_pid*

